@page "/"

<div class="alert alert-secondary text-center" role="alert">
  <h3 class="alert-heading">Zoológico Blazor</h3>
  <p>
    Aplicação CRUD com .NET/C# com frontend em Blazor e blackend com ASP .NET Core
  </p>
  <hr>
  <p class="mb-0">Novembro/2020</p>
</div>

<br/>

@* <div class="card-group">
    <div class="card border-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div> *@